<div *ngIf="hero">
  <!--*ngIf to conditionally include or exclude a block of HTML.-->
  <h2>{{hero.user}}'s Marvel Hero is {{hero.hero | uppercase}}</h2>
  <div><span>id: {{hero.id}},  </span><span>user: </span>{{hero.user}} </div>
  <div>
    <label>Hero:
      <input [(ngModel)]="hero.hero" placeholder="name"/>
      <button (click)="save()">save</button>
    </label>
  </div>
  <div>
    <h4>{{hero.hero | uppercase}}'s Description </h4>
<!--    <p *ngIf="getDescription(hero.hero)">-->
<!--    </p>-->

    <button (click)="getDescription()"> GET Description </button>

  </div>
  <button (click)="goBack()">go back</button>
</div>
