extends layout
block content
  link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
  h1= title
  p Welcome to #{title}

  a(href="/google" class="btn btn-danger btn-block")
    span(class="fa fa-google-plus")
      Google


