extends layout

block content
  body.bkimg
  div(class = 'bk')
    div(class = 'center')
      h1 Welcome to #{title}
      p Greeting from #{author}.
      a(href='/hw3')
        button(type="button" class="btn btn-outline-secondary") Trump's Meme
        |
        |
      p
      a(href='/search')
        button(type="button" class="btn btn-outline-secondary") Marvel's Character


