extends layout

block content
    body.bkimg2
        div(class = 'bk2')
            div(class = 'center')
                h1 #{data.name}:
                p #{data.description};
                a(href='/')
                    button(type="button" class="btn btn-outline-secondary") Go Back
