extends layout

block content
    body.bkimg1
        div(class = 'bk1')
            div(class = 'center')
                h1 Trump's Quote:
                p #{data.value}
                a(href='/')
                    button(type="button" class="btn btn-outline-secondary") Go Back

