extends layout

block content
  h1= title
  h3 Welcome to #{name}'s #{title} !
  p This is my landing page.
  p To reach next GET page, please set route to '/hw1/get'.
  p To check POST method, please set route in Postman to '/hw1/post'.